# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Chroma database
data/vector_db/

# Uploaded documents
data/Annual_reports/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Python build
build/
dist/
*.egg-info/