langchain
langchain-community
langchain-huggingface
huggingface_hub
sentence-transformers

pypdf
python-docx
docx2txt
unstructured

chromadb
langchain-chroma
streamlit

python-dotenv
langchain-text-splitters

pandas